
nav{
  background-color: rgb(0, 123, 255);
  text-align: center;
  padding: 20px;
}
.container{
  background-color: rgba(255, 240, 246, 0.893);
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}
.container form{
display: flex;
flex-direction: column;
}
.container input,textarea,button{
  padding: 10px;
  border: rgba(0, 0, 0, 0.797);
  border-radius: 5px;
  margin: 10px;
  font-size: 1.2rem;
}
button{
  background-color: rgba(0, 0, 0, 0.745);
  color: white;
  cursor: pointer;
  border: none;
}
.container h1{
  text-align: center;
  margin: 10px;
}
/* *{
  border: 1px solid red;
} */
.task{
display: flex;
background-color:white;
margin: 20px 0;
padding: 10px;
align-items: center;
border-radius: 5px;
}
.task div{
  width: 100%;
  
}
.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task button:hover{
  background-color: red;
}
footer{
  background-color: rgb(0, 123, 255);
  text-align: center;
  padding: 20px;
}